
.episodesContainer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        font-size: 4rem;
        color: #fff;
    }
    
    .line {
        border-top: 1rem solid #fff;
        width: 25%;
    }
    
    .podcastDescription{
        color: #fff;
        line-height: 25px;
    }
    
    img {
        width: 20rem;
    }


    
}