footer {
    margin-top: 10rem;
    position: fixed;
    bottom: 0;
}

.podcastPlayer {
    margin-top: 10rem;
    width: 100vw;
    height: 150px;
    background-color: #000;

    p{
        color: #fff;

    }
}