footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.podcastPlayer {
  // padding: 1.2rem;
  // margin-top: 20rem;
  width: 100%;
  height: 220px;
  background-color: #000;
  color: #fff;

  p {
    color: #fff;
    font-size: 1.8rem;
    text-wrap: wrap;
  }

  p:nth-child(2n) {
    color: #5cd5eb;
    font-size: 1.5rem;
  }

  img {
    width: 90px;
    margin-right: 20px;
    margin-left: 10px;
  }
}

.podcastDetails {
  display: flex;
}

.playbackControls {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.controlBtn {
  background: none;
  border: none;
  color: #5cd5eb;
  min-width: 30px;

  svg {
    color: #5cd5eb;
    width: 100%;
  }
}

.durationControls {
  span {
    font-size: 1.2rem;
  }
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 60%;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    background: #053a5f;
    height: 0.5rem;
    border-radius: 55px;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    background-color: #5cd5eb;
    height: 12px;
    width: 12px;
    border-radius: 55px;
  }
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.volumeControls {
  display: flex;
  justify-content: space-evenly;
  width: 300px;

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 120px;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    background: #053a5f;
    height: 0.5rem;
    border-radius: 55px;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #5cd5eb;
    height: 12px;
    width: 12px;
    border-radius: 55px;
  }
}

.bottomControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomPlaybackControls {
  width: 15%;
  display: flex;
  justify-content: space-between;
}



progress{
  width: 60%;
}

.durationBarWrapper {
  width: 75vw;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
