.hamburger {
  width: 45px;
  height: 45px;
  position: fixed;
  border-radius: 0.7rem;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: 1px solid #fff;
  background-color: #666a86;
  cursor: pointer;

  svg {
    color: #fff;
    width: 100%;
    height: 100%;
  }
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
  position: fixed;
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

nav {
    ul {
        li{
            padding: 1rem;
            width: 100%;
            a{
               
                text-decoration: none;
                color: #fff;
                font-size: 2rem;

                &:hover{
                    color: #f5cb5c;
                }
            }
            
        }
    }
}