h1 {
  color: #fff;
}

.libraryPodcastContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 300px;
  margin-bottom: 2rem;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  h2 {
    color: #fff;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  img {
    width: 100%;
  }
}
