

.podcastContainer {
  color: #fff;
  margin-bottom: 2rem;
  display: flex;
  width: 90vw;
  height: 15vh;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  img {
    width: 150px;
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
  }
}

.podcastHeading {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.8rem;
  text-align: left;
  margin-left: 1rem;

  button {
    background-color: #666a86;
    color: #fff;
    height: 25px;
    border-radius: 2rem;
    border: none;

    &:hover {
      background-color: #f5cb5c;
      color: #031926;
    }
  }
}


